*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
body{
    width: 375px;
    height: 667px;
    background-color: #F3F3F3;
    position: relative;
}


/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 80px;
    padding: 0 22px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
#icon1{
    font-size: 42px;
}




/* TEXTS */
.time{
    font-weight: 500;
    color: #aaaaaa;
}
.name{
    font-weight: bold;
}

/* MESSAGES */
ul{
    width: 100%;
    height: 500px;
    overflow: scroll;
    padding-top: 24px;
}
li{
    
    min-height: 40px;
    line-height: 20px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 2px 0;
    word-break: break-word;
}
.enter-leave-group{
    background: #DCDCDC;
}
.msg-everybody{
    background-color: white;
}
.msg-exclusive{
    background-color:#FFDEDE;
}
#icon3{
    position: absolute;
    bottom: 90px;
    right: 10px;
    z-index: 10;
    font-size: 40px;
}
/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 80px;
    padding: 0 22px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 0;
    left: 0;
}
#sendBtn{
    font-size: 26px;
    margin-right: 15px;
}
footer input{
    width: 250px;
    height: 50px;
    font-size: 18px;
    
}

/* INITIAL SCREEN */


.initial-screen{
    width: 375px;
    height: 667px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 20;
    background-color: white;
}

.initial-screen input{
    width: 261px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
}

.initial-screen button{
    background: #E7E7E7;
    border-radius: 9px;
    width: 109px;
    height: 45px;
    border: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #696969;
}

#lgn-screen{
    position: absolute;
    left: 120px;
    top: 72px;
    width: 130px;
    height: 92px;
}